.super-mario {
    width: 200px;
    position: absolute ;
    top: 200px;
    left: ;
    z-index: ;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    left: ;
    z-index: ;
  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }