.super-mario {
    width: 200px;
    position: absolute ;
    top: 200px;
    left: ;
    z-index: ;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
    left: ;
    z-index: ;
  }
  
  .baloon {
    width: ;
    position: absolute;
    top: ;
    left: 200px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }

  p {
    width: ;
    position: absolute;
    top: 118px;
    left: 228px;
    z-index: 2;
  }