.super-mario {
    width: 200px;
    position: absolute ;
    top: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 500px;
    
  }

  p {
    position: absolute;
    top: 118px;
    left: 228px;
  }