
* {
  margin: 0;
  padding: 0;
}

main{
display: inline-block;
}

header {
  background-color: aqua;

}

body {
    font-size: 19px;
    font-weight: normal;
    text-align: justify;
    letter-spacing: .1px;
    line-height: 33px;
    font-family: Georgia, serif;
    
}

article {
  height: auto;
  display: inline-block;
  width: 700px;
}

footer, nav {
    background-color: black;
  }

  nav {
     
  }

h1, h2, h3 {    
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 50px;
}

p {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 50px;
}
  nav ul li{
    display: inline-block;
    margin-right: 30px;
    background-color: black;
    color: white;
    margin-left: 20px;
  }
aside {
  height: auto;
    background-color: black;
    color: white;
    display: inline-block; 
  vertical-align: super;
  float: right;
    width: 300px;
    padding: 5px;
    margin: 10px;
    height: 200px;
    opacity: 1;
}

aside ul li:hover {
  color: cyan;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30px;
    margin-left: 50px;
    font-size: 16px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  footer {
    text-align: center;
    color: white;
  }

  #video {
    text-align: center;
  }