body {
  background-color: darkmagenta;
  margin: 40px auto;
  font-family: 'Itim', cursive;
}

header {
  background-color: darkorchid;
  color: white;
  max-width: 80%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

form {
  background-color: darkorchid;
  color: white;
  max-width: 80%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
}

.form-control {
  width: 80%;
}
